/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  }  

  .dropbtn {
    cursor: pointer;
    border-radius: 60%;
    background-color: white;
    border: none;
    border-radius: 60%;
    color: #e0218a;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 20px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: pink;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    // display: none; 
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
  }
  

  .dropdown-content a {
    color: #e0218a;
    padding: 20px;
    text-decoration: none;
    display: block;
    font-size: 16px;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  main {
    display: flex;
    min-height: 100vh;
  }
  header {
    background-color: #e0218a;
    text-align: center;
    padding: 2px;
    font-size: 25px;
    color: #ED5C9B;
  }
  nav {
    float: left;
    width: 30%;
    height: 100px;
    background: #e0218a;
    padding: 20px;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
  }

  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  main {
    display: flex;
    min-height: 100vh;
  }
  
  h1 {
    font-family: 'Brush Script MT', cursive;
    letter-spacing: .1em;
    font-size: 45px;
    color: #fff;
    margin-left: 10px;
  }
  
  h2 {
    font-family: 'Brush Script MT', cursive;
    letter-spacing: .1em;
    color: #fff;
    transition: ease-in-out .25s;
    cursor: pointer;
    display: inline-block;
  }
  
  h2 ~ div {
      margin-top: 15px;
  }
  
  h2:hover {
    color: black;
    transform: translateX(-10px);
  }
  
  /*Left block*/
  #catalogue {
      width: 50%;
      background: #e0218a;
    position: relative;
  }
  
  #top_style, #bottom_style, #shoes_style, .btn_reset {
    margin: 20px 20px;
  }
  
  .btn_style {
    width: 70px;
    height: 70px;
    background-size: 70px 0px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;
    background-color: white;
  }
  
  button.btn_style {
    border-radius: 50%;
    border-width: 2px;
    border-style: none;
    box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.19);
  }
  
  .options {
    display: flex;
  }
  
  .btn_hair_1 {
    background-image: url();
  }
  .btn_hair_2 {
    background-image: url();
  }
  .btn_hair_3 {
    background-image: url();
  }
  
  .btn_uw_1 {
    background-image: url();
  }
  .btn_uw_2 {
    background-image: url();
  }
  .btn_uw_3 {
    background-image: url();
  }
  
  .btn_top_1 {
    background-image: url();
  }
  .btn_top_2 {
    background-image: url();
  }
  .btn_top_3 {
    background-image: url();
  }
  
  .btn_bottom_1 {
    background-image: url();
  }
  .btn_bottom_2 {
    background-image: url();
  }
  .btn_bottom_3 {
    background-image: url();
  }
  
  .btn_socks_1 {
    background-image: url();
  }
  .btn_socks_2 {
    background-image: url();
  }
  .btn_socks_3 {
    background-image: url();
  }
  .btn_socks_4 {
    background-image: url();
  }
  
  .btn_shoes_1 {
    background-image: url();
  }
  .btn_shoes_2 {
    background-image: url();
  }
  .btn_shoes_3 {
    background-image: url();
  }
  
  .btn_costumes_1 {
    background-image: url();
  }
  
  .btn_reset {
    background-color: white;
    border: none;
    border-radius: 60%;
    color: #e0218a;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 20px;
  }
  
  /*Right block*/
  #dressing-box {
      width: 50%;
      height: 850px;
      background: #F18DBC;
  }
  
  /* top */
  #top_selection {
      background-image: none;
      background-position: center top;
      background-repeat: no-repeat;
      width: 395px;
      height: 788px;
      position: absolute;
      z-index: 6;
  }
  
  /* bottom */
  #bottom_selection {
    background-image: none;
    background-position: center top;
    background-repeat: no-repeat;
    width: 395px;
    height: 788px;
    position: absolute;
    z-index: 9;
  }

  /* Shoes */
  #shoes_selection {
    background-image: none;
    background-position: center top;
    background-repeat: no-repeat;
    width: 395px;
    height: 788px;
    position: absolute;
    z-index: 8;
  }
  
  
  #doll {
    background: url("") top left transparent no-repeat;
    background-position: center top;
    background-repeat: no-repeat;
    width: 395px;
    height: 788px;
    position: absolute;
    z-index: 1;
  }
  
  
  
  
  
  